@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.caption{
    position: absolute;
    top: 100px;
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    color: #4D4337;
    word-spacing: 10px;
}

.rule{
    position: absolute;
    top: 670px;
    font-family: 'Heebo', sans-serif;
    color: #4D4337;  
    font-size: 30px;
}